#home {
    @include flex(flex, center, center, row);
    background-image: url(../imgs/bgc-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    .content {
        p {
            color: lighten($color-black, 20%);
            font-weight: 600;
        }
        
        button {
            background-color: $color-green;
            padding: 10px 50px;
            margin-top: 20px;
            font-size: 18px;
            color: #FFF;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

#about {
    @include flex(flex, center, center, row);
    background-color: $color-white;
    height: 50vh;
    .content {
        text-align: center;
        p {
            color: lighten($color-black, 20%);
            font-weight: 600;
        }
        img {
            margin-top: 20px;
        }
    }
}

#professional  {
    @include flex(flex, center, center, row);
    background-color: $color-light-gray;
    .box-professional {
        padding: 200px 20px;
        h2 {
            margin-bottom: 30px;
        }
        .skills {
            p {
                margin: 5px 0;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 16px;
            }
            .skill-bar {
                display: flex;
                position: relative;
                background-color: $color-gray;
                width: 90%;
                height: 3px;
                margin-bottom: 20px;
                &::before {
                    position: absolute;
                    content: "";
                    background-color: $color-green;
                    height: 3px;
                }
                &.ui {
                    &::before {
                        width: 75%;
                    }
                }
                &.web {
                    &::before {
                        width: 90%;
                    }
                }
                &.marketing {
                    &::before {
                        width: 65%;
                    }
                }

            }
        }
        
    }
    .box-img {
        background-color: $color-gray;
        background-image: url(../imgs/notebook.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 0;
        height: 100%;
        width: 100%;
    }
}

#work {
    @include flex(flex, center, center, row);
    height: 30vh;
    color: $color-white;
    .icone {
        @include flex(flex, center, center, row);
        height: 100%;
    }
    .content {
        p {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

#gallery {
    .box-gallery {
        @include flex(flex, center, center, row);
        // border: 1px solid #000;
        height: 300px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        a {
            text-decoration: none;
            // img {     
            //     // width: 100%;
            //     height: 100%;
            // }
        }
        transition: 1s;
        .box-opacity {
            transition: 1s;
            @include flex(flex, center, center, row);
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.8);
            content: "";
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            visibility: visible;
            opacity: 0;
            cursor: pointer;
        }
        &:hover {
            
            .box-opacity {
                opacity: 1;
            }
        }
        
    }
}

#video {
    padding: 50px 0;
    .box-video {
        @include flex(flex, center, center, row);
        width: 100%;
        height: 100%;
        video {
            width: 100%;
            height: 500px;
        }
    }
}

.box-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px 0;
    .icon {
        margin: 30px auto;
    }
    .content {
        width: 100%;
        h6 {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

#slider {
    @include flex(flex, center, center, row);
    height: 50vh;
    .slick {
        .slick-item {
            .content {
                text-align: center;
                color: $color-white;
                p {
                    font-size: 30px;
                }
            }
        }
        .slick-dots {
            li.slick-active {
                button {
                    &::before {
                        color: $color-white !important;
                        font-size: 8px;
                    }
                }
            }
            li button {
                color: $color-white !important;
                &::before {
                    color: $color-white !important;
                }
                &:hover {
                    color: $color-white !important;
                }
            }
        }
    }
}


#clients {
    @include flex(flex, center, center, row);
    height: 20vh;
}