#home {
    @include flex(flex, center, center, row);
    background-image: url(../imgs/bgc-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    .content {
        p {
            color: lighten($color-black, 20%);
            font-weight: 600;
        }
        
        button {
            background-color: $color-green;
            padding: 10px 50px;
            margin-top: 20px;
            font-size: 18px;
            color: #FFF;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

#about {
    @include flex(flex, center, center, row);
    background-color: $color-white;
    height: 50vh;
    .content {
        text-align: center;
        p {
            color: lighten($color-black, 20%);
            font-weight: 600;
        }
        img {
            margin-top: 20px;
        }
    }
}

#professional  {
    @include flex(flex, center, center, row);
    background-color: $color-light-gray;
    .box-professional {
        padding: 200px 20px;
        h2 {
            margin-bottom: 30px;
        }
        .skills {
            p {
                margin: 5px 0;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 16px;
            }
            .skill-bar {
                display: flex;
                position: relative;
                background-color: $color-gray;
                width: 90%;
                height: 3px;
                margin-bottom: 20px;
                &::before {
                    position: absolute;
                    content: "";
                    background-color: $color-green;
                    height: 3px;
                }
                &.ui {
                    &::before {
                        width: 75%;
                    }
                }
                &.web {
                    &::before {
                        width: 90%;
                    }
                }
                &.marketing {
                    &::before {
                        width: 65%;
                    }
                }

            }
        }
        
    }
    .box-img {
        background-color: $color-gray;
        background-image: url(../imgs/notebook.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 0;
        height: 100%;
        width: 100%;
    }
}

#work {
    @include flex(flex, center, center, row);
    height: 30vh;
    color: $color-white;
    .icone {
        @include flex(flex, center, center, row);
        height: 100%;
    }
    .content {
        p {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

#gallery {
    .box-gallery {
        @include flex(flex, center, center, row);
        // border: 1px solid #000;
        height: 300px;
        overflow: hidden;
        a {
            text-decoration: none;
            img {     
                // width: 100%;
                height: 100%;
                position: relative;
                &::before {
                    position: absolute;
                    background-color: rgba($color: #000000, $alpha: 1);
                    content: "";
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 300px;
                    height: 337px;
                }
            }
        }
    }
}